<h2 id="title">
  {{link-to "Ember Spotify" "index"}}
</h2>
<nav>
  <ul>
    <li>{{link-to "Featured Playlists" "featured-playlists"}}</li>
    <li>{{link-to "Genres" "genres"}}</li>
  </ul>
</nav>

{{outlet}}
